include news-itemMixin

section.news
  include news-intro
  .container
    .row.news-row
      +newsItem("images/news/image-1.png" , "Мясо пусто не бывает" , "12 сентября 2016г" , "Теперь розница Кунгурского мясокомбината, выкупленного удмуртским холдингом этим летом, работает под брендом «Мясо & молоко».")
      +newsItem("images/news/image-1.png" , "Мясо пусто не бывает" , "12 сентября 2016г" , "Теперь розница Кунгурского мясокомбината, выкупленного удмуртским холдингом этим летом, работает под брендом «Мясо & молоко».")
      +newsItem("images/news/image-2.png" , "Ингушетия начнет поставлять мясо и овощи в Кострому" , "12 сентября 2016г" , "Теперь розница Кунгурского мясокомбината, выкупленного удмуртским холдингом этим летом, работает под брендом «Мясо & молоко».")
      +newsItem("images/news/image-3.png" , "Возможного снижения цен на мясо придется ждать" , "12 сентября 2016г" , "Теперь розница Кунгурского мясокомбината, выкупленного удмуртским холдингом этим летом, работает под брендом «Мясо & молоко».")

    .row.news-row
      +newsItem("images/news/image-1.png" , "Мясо пусто не бывает" , "12 сентября 2016г" , "Теперь розница Кунгурского мясокомбината, выкупленного удмуртским холдингом этим летом, работает под брендом «Мясо & молоко».")
      +newsItem("images/news/image-1.png" , "Мясо пусто не бывает" , "12 сентября 2016г" , "Теперь розница Кунгурского мясокомбината, выкупленного удмуртским холдингом этим летом, работает под брендом «Мясо & молоко».")
      +newsItem("images/news/image-2.png" , "Ингушетия начнет поставлять мясо и овощи в Кострому" , "12 сентября 2016г" , "Теперь розница Кунгурского мясокомбината, выкупленного удмуртским холдингом этим летом, работает под брендом «Мясо & молоко».")
      +newsItem("images/news/image-3.png" , "Возможного снижения цен на мясо придется ждать" , "12 сентября 2016г" , "Теперь розница Кунгурского мясокомбината, выкупленного удмуртским холдингом этим летом, работает под брендом «Мясо & молоко».")

    .row.news-row
      +newsItem("images/news/image-1.png" , "Мясо пусто не бывает" , "12 сентября 2016г" , "Теперь розница Кунгурского мясокомбината, выкупленного удмуртским холдингом этим летом, работает под брендом «Мясо & молоко».")
      +newsItem("images/news/image-1.png" , "Мясо пусто не бывает" , "12 сентября 2016г" , "Теперь розница Кунгурского мясокомбината, выкупленного удмуртским холдингом этим летом, работает под брендом «Мясо & молоко».")
      +newsItem("images/news/image-2.png" , "Ингушетия начнет поставлять мясо и овощи в Кострому" , "12 сентября 2016г" , "Теперь розница Кунгурского мясокомбината, выкупленного удмуртским холдингом этим летом, работает под брендом «Мясо & молоко».")
      +newsItem("images/news/image-3.png" , "Возможного снижения цен на мясо придется ждать" , "12 сентября 2016г" , "Теперь розница Кунгурского мясокомбината, выкупленного удмуртским холдингом этим летом, работает под брендом «Мясо & молоко».")
    .row
      include pagination