.container
  section.intro.page
    .row
      .col-xs-12
        .intro__head-wrap
          h1.section__tittle Новости
          span.intro__pageName
            a(href="#") Главная /
          span.intro__pageContent &nbsp Новости
  hr

