.header__main
  .container
    .row
      .col-lg-2.col-md-3.col-sm-3
        include headerLogo
      .col-lg-9.col-md-7.col-sm-7.col-xs-7
        include headerSearch
      .col-lg-1.col-md-2.col-sm-2.col-xs-5
        include headerSearchIcons
