nav.footer__nav-bar
  .nav-bar--wrap
    a(href="#" class="nav-bar__toggle"): span
  ul.nav-bar__list
    li: a(href="#") О нас
    li: a(href="index.html") Наша Ферма
    li: a(href="#") Ресторан
    li: a(href="cabinet.html") Оплата и Доставка
    li: a(href="#") Отзывы
    li: a(href="contacts.html") Контакты
    li: a(href="#") Правила и соглашения
