.products-nav--container
  .container
    .row
      .col-xs-12
        nav.products-nav
          .products-toggle--wrap
            a(href="#" class="productMenu__toggle"): span
            span.toggleName Каталог
          ul.products-nav__menu
            li
              i.fa.fa-arrow-down(aria-hidden="true")
              a(href="catalog.html") Мясо
              ul.drop-down
                li: a(href="#") Говядина
                li: a(href="#") Свинина
                li: a(href="#") Мороженые
                li: a(href="#") Пельмени
                li: a(href="#") Шашлык
                li: a(href="#") Дичь
                li: a(href="#") Копченье
            li
              i.fa.fa-arrow-down(aria-hidden="true")
              a(href="#") Птица
              ul.drop-down
                li: a(href="#") Говядина
                li: a(href="#") Свинина
                li: a(href="#") Мороженые
                li: a(href="#") Пельмени
                li: a(href="#") Шашлык
                li: a(href="#") Дичь
                li: a(href="#") Копченье
            li
             i.fa.fa-arrow-down(aria-hidden="true")
             a(href="#") Рыба
            li
              i.fa.fa-arrow-down(aria-hidden="true")
              a(href="#") Молоко и Сыр
            li
              i.fa.fa-arrow-down(aria-hidden="true")
              a(href="#") Овощи и Фрукты
            li
              i.fa.fa-arrow-down(aria-hidden="true")
              a(href="#") Бакалея
            li
              i.fa.fa-arrow-down(aria-hidden="true")
              a(href="#") Подарочные наборы
