- var pageTitle = "Dubrava | Корзина";

doctype html
html(lang='ru')
  include components/head/head
  body
    .wrap
      include components/header/header
      include components/basket/basketIntro
      include components/basket/basketMain
      include components/footer/footer

      include parts/fixedMenu/fixedMenu









