- var pageTitle = "Dubrava | Личный Кабинет";

doctype html
html(lang='ru')
  include components/head/head
  body
    .wrap
      include components/header/header
      include components/personal-cabinet/personal-cabinet
      include components/footer/footer

      include parts/fixedMenu/fixedMenu