- var pageTitle = "Dubrava | Каталог";

doctype html
html(lang='ru')
  include components/head/head
  body
    .wrap
      include components/header/header

      include components/catalog/catalogIntro/catalogIntro
      include components/catalog/catalogMain

      include components/footer/footer

      include parts/fixedMenu/fixedMenu








