- var pageTitle = "Dubrava | Контакты";

doctype html
html(lang='ru')
  include components/head/head
  body
    .wrap
      include components/header/header
      include components/contact/contact-intro
      include parts/location/location
      include parts/formSubscribe/subscribe
      include components/footer/footer

      include parts/fixedMenu/fixedMenu






