- var pageTitle = "Dubrava | Главная";

doctype html
html(lang='ru')
  include components/head/head
  body
    .wrap
      include components/header/header
      include components/main/main
      include parts/reviews/review
      include parts/formSubscribe/subscribe
      include parts/location/location
      include components/footer/footer

      include parts/fixedMenu/fixedMenu






