- var pageTitle = "Dubrava | Новости";

doctype html
html(lang='ru')
  include components/head/head
  body
    .wrap
      include components/header/header
      include components/news/news
      include components/footer/footer

      include parts/fixedMenu/fixedMenu







