.col-xs-12
  section.intro
    .intro__head-wrap
      h1.section__tittle Рекомендуем
    span.intro__text
      | Это фермерский кооператив, позволяющий фермерам найти своих покупателей, а покупателям найти своих фермеров.
      | Это живая социальная сеть, где фермеры и потребители могут свободно общаться.
      | Это социальный проект, направленный на появление в России и мире новой сельскохозяйственной и гастрономической культуры
