.location__info
  h1 Контакты для доставки и точка самовызова
  img.info__img(src="images/locationDecorator.png" alt="Дубрава Ферма")
  span.info__adress Москва, ул. Образцова 31/3
  span.info__e-mail
    a(href="#") info@mysaite.ru
  span.phone
    a(href="tel:+7495540-50-86") +7 (495) 540-50-86