script(src="./js/jquery-3.1.1.min.js")
script(src="./js/jquery/plugins/slick/slick.min.js")
script(src="./js/jquery/plugins/UI-slider/jquery-ui.min.js")
script(src="./js/custom/headerNavMenu.js")
script(src="./js/custom/location.js")
script(src="./js/custom/fixedMenu.js")
script(src="./js/custom/catalog.js")
script(src="./js/custom/basket.js")
script(src="./js/custom/cabinet.js")
script(src="./js/custom/product-nav.js")


//script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDc4Wd4LtoVWsE96ajoBfwY9H56HX9QDt4&callback=initMap")
