.row.row--promo
  .col-sm-8.col-xs-12
    .promo-item
      a(href="#")
        img(src="images/myaso2.png" alt="Свежее Мясо")
      .promo-item__info
        h2 Свежее Мясо
        span  от
          span.price  320
          |  руб/кг

  .col-sm-4.col-xs-12 
    .promo-item
      a(href="#")
        img(src="images/stock.png" alt="В Воскресенье со своим")

.row.row--promo
  .col-sm-4.col-xs-12
    .promo-item
      a(href="#")
        img(src="images/fish.png" alt="Свежее Мясо")
      .promo-item__info
        h2 Свежая Рыба
        span  от
          span.price  130
          |  руб/кг
  .col-sm-4.col-xs-12
    .promo-item
      a(href="#")
        img(src="images/milk.png" alt="Молочные продукты")
      .promo-item__info
        h2 Молочные продукты
        span  от
          span.price  90
          |  руб/кг

  .col-sm-4.col-xs-12
    .promo-item
      a(href="#")
        img(src="images/fruits.png" alt="Бакалея")
      .promo-item__info
        h2 Бакалея
        span  от
          span.price  150
          |  руб/кг
