.container
  section.intro.not-found
    .row
      .col-xs-12
        .intro__head-wrap
          h1.section__tittle.not-found__tittle 404
          span.not-found__text Запрашиваемой вами страницы не существует
          span.not-found__remind
            | Вы можете вернуться на &nbsp
            a.main(href="index.html")  главную
            | &nbsp страницу , или вольспользоваться поиском
