.intro__info
  span
   | Предприятий мясной промышленности выпускают многочисленную и многообразную продукцию.
   | Кроме обширного ассортимента пищевой продукции, предприятия мясной промышленности изготовляют технические продукты, медицинские препараты и изделия из рога и кости.
  span.hidden
    | Предприятий мясной промышленности выпускают многочисленную и многообразную продукцию. Предприятий мясной промышленности выпускают многочисленную и многообразную продукцию. Предприятий мясной промышленности выпускают многочисленную и многообразную продукцию.
   span.more Развернуть весь текст
