include ../main/mainProducts/productMixin

main.catalog
  .container
    .row
      .col-sm-3
        include sidebar/sidebar

      .col-sm-9.col-xs-12
        include catalogMainInfo
        include Select
        +Product("images/products/meat.png" , "Карбонат без кости" , "Свинина" , "1100 руб" , "900 руб / " , " 0.25 кг")
        +Product("images/products/meat-2.png" , "Край без кости" , "Свинина" , "" , "675 руб / " , " 0.25 кг")
        +Product("images/products/cheese.png" , "'Эмменталь' 45%" , "Сыр" , "" , "750 руб / " , " 0.5 кг")
        +Product("images/products/meat.png" , "Карбонат без кости" , "Свинина" , "1100 руб" , "900 руб / " , " 0.25 кг")
        +Product("images/products/meat-2.png" , "Край без кости" , "Свинина" , "" , "675 руб / " , " 0.25 кг")
        +Product("images/products/cheese.png" , "'Эмменталь' 45%" , "Сыр" , "" , "750 руб / " , " 0.5 кг")
        +Product("images/products/meat.png" , "Карбонат без кости" , "Свинина" , "1100 руб" , "900 руб / " , " 0.25 кг")
        +Product("images/products/meat-2.png" , "Край без кости" , "Свинина" , "" , "675 руб / " , " 0.25 кг")
        +Product("images/products/cheese.png" , "'Эмменталь' 45%" , "Сыр" , "" , "750 руб / " , " 0.5 кг")
        +Product("images/products/meat.png" , "Карбонат без кости" , "Свинина" , "1100 руб" , "900 руб / " , " 0.25 кг")
        +Product("images/products/meat-2.png" , "Край без кости" , "Свинина" , "" , "675 руб / " , " 0.25 кг")
        +Product("images/products/cheese.png" , "'Эмменталь' 45%" , "Сыр" , "" , "750 руб / " , " 0.5 кг")
        +Product("images/products/meat.png" , "Карбонат без кости" , "Свинина" , "1100 руб" , "900 руб / " , " 0.25 кг")
        +Product("images/products/meat-2.png" , "Край без кости" , "Свинина" , "" , "675 руб / " , " 0.25 кг")
        +Product("images/products/cheese.png" , "'Эмменталь' 45%" , "Сыр" , "" , "750 руб / " , " 0.5 кг")

        include pagination



