.pagination
  button.btn.btn--next Назад
  .pagination--info
    span.info--active  1
    span.info--next 2
    span.info--next 3
    span.dots ...
    span.info--last 15
  button.btn.btn--prev Вперед