.container
  .row
    .col-md-6.col-xs-12
      .total
        span.total__summ Сумма:
          span.summ--value 70000 руб
        span.total__delivery Стоимость доставки:
          span.summ--value 50 руб
        span.total__total Итого:
          span.summ--value 11900 руб