include basketProductMixin


main.basket
  +basketProduct('images/basket/meat.png' , "Карбонат без кости" , '900' , "1")
  +basketProduct('images/basket/meat.png' , "Карбонат без кости" , '950' , "1")
  +basketProduct('images/basket/meat.png' , "Карбонат без кости" , '960' , "1")

  include basketTotal
