.container
  section.intro.page
    .row
      .col-xs-12
        .intro__head-wrap
          h1.section__tittle Личный Кабинет
          span.intro__pageName
            a(href="#") Главная /
          span.intro__pageContent &nbsp Личный Кабинет



  include tabs
  include information
  include adress
  include orders