.footer__cpr
  .container
    .row
      .col-md-6.col-sm-8.col-xs-12
        .cpr__wrap
          span.cpr.
            &copy2016. Дубрава Ферма  - интернет-магазин свежих продуктов

      .col-md-5.col-sm-4.col-xs-12.offset-md-1
        .develop__wrap
          span.cpr
            | Адаптивные сайты от &nbsp
            span.developed
              a(href="#") makebecool