.col-md-7.col-sm-9.col-xs-12
  nav.products-nav
    ul.products-nav__menu--footer
      li: a(href="#") Мясо
      li: a(href="#") Птица
      li: a(href="#") Рыба
      li: a(href="#") Молоко и Сыр
      li: a(href="#") Овощи и Фрукты
      li: a(href="#") Бакалея
      li: a(href="#") Подарочные наборы

.col-md-5.col-sm-3.col-xs-12
  .footer__logo
    img(src="images/Logo.png" alt="Дубрава Ферма" class="footer__logo")