.col-md-5.col-sm-3.col-xs-12.offset-md-1
  .footer__contacts
    a.phone(href="tel:+7495540-50-86") +7 495540 50 86 ,
    span.cite
      a(href="#") info@mysaite.ru
    span.work-time Доставка с 10:00 до 21:00