.col-md-6.col-sm-9.col-xs-12
  nav.footer__nav-bar
    ul.nav-bar__list
      li: a(href="#") О нас
      li: a(href="#") Наша Ферма
      li: a(href="#") Ресторан
      li: a(href="#") Оплата и Доставка
      li: a(href="#") Отзывы
      li: a(href="#") Контакты
      li: a(href="#") Правила и соглашения