@font-face {
  font-family: 'Isadora-Italic';
  src: url($font-src + 'Isadora/IsadoraBold.eot');
  src: url($font-src + 'Isadora/IsadoraBold.eot?#iefix');
  src: url($font-src + 'Isadora/IsadoraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}