.catalogNav
  h2  Категории
  hr
  nav.categories
    ul
      li: a(href="#") Говядина
      li: a(href="#") Свинина
      li: a(href="#") Мороженые
      li: a(href="#") Пельмени
      li: a(href="#") Шашлык
      li: a(href="#") Дичь
      li: a.showAll(href="#") Показать все (32)

