.select
  h4.category Категория
  hr.select
  ul
    li
      input#check(type="checkbox")
      label(for="check") Говядина
    li
      input#check2(type="checkbox")
      label(for="check2") Свинина
    li
      input#check3(type="checkbox")
      label(for="check3") Баранина
    li
      input#check4(type="checkbox")
      label(for="check4") Мороженые пельмени
    li
      input#check5(type="checkbox")
      label(for="check5") Шашлык
    li
      input#check6(type="checkbox")
      label(for="check6") Дичь
    li
      input#check7(type="checkbox")
      label(for="check7") Копчение